{
  "presets": [
		["env", {
				"modules": false,
				"targets": {
					"chrome": 52
				}
			}],
		"vue",
		"react"
  ],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		"syntax-jsx",
		"transform-vue-jsx",
		"jsx-v-model",
		"jsx-event-modifiers"
	],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
  }
}